<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 3</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #75808a;
            padding: 20px;
            text-align: center;
        }

        h1,
        h2 {
            color: #007bff;
            text-align: center;
        }

        footer {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
        }

        h1,
        h2 {
            font-family: 'Cute Font', sans-serif;
        }

        /* Styling for item cards */
        .item.card {
            border: 1px solid black;
            transition: border-color 0.3s;
            text-decoration: none;
        }

        p {
            text-align: center;
            color: #75808a;
        }
    </style>
</head>

<body>
    <header>
        <h1>This is the Shopping website </h1>
    </header>
    <div class="container mt-5">
        <h1>Hi</h1>
    </div>
    <p>We as group here will present you how to integrate the paypal system within our website
    </p>
</body>

</html>